body
{
    background-color: gray;
}

header
{
    float: left;
    position: fixed;
    height: 10%;
}

img header
{
    width: 10%;
    height: 8%;
}

nav
{
    float: right;
    position: fixed;
    height: 10%;
}