/* Algemene styling */
body {
    background-color: rgb(242, 233, 233);
    font-family: Arial, sans-serif;
}

header {
    background-color: darkblue;
    box-shadow: 1px 1px 5px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Logo styling */
.logo {
    width: 150px; /* Pas de grootte van het logo aan */
}

/* Engelse vlag naast hamburger menu */
.english-link {
    display: inline-block;
    margin-right: 15px;
}

.english {
    width: 30px; /* Pas de grootte van de afbeelding aan */
    height: auto;
}

/* Hamburger menu */
#menutoggle {
    position: relative;
    z-index: 1;
}

#menutoggle input {
    position: absolute;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menutoggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transform-origin: 4px 0px;
}

#menutoggle span:first-child {
    transform-origin: 0% 0%;
}

#menutoggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menutoggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menutoggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(-45deg) scale(0.2, 0.2);
}

/* Menu styling */
.menu {
    display: none; /* Begin met menu verborgen */
    position: absolute;
    left: -300px;
    top: 80px;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: left 0.5s;
}

#menutoggle input:checked~.menu {
    display: block; /* Menu wordt zichtbaar als het hamburger-menu is ingeschakeld */
    left: 40px;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* Styling voor secties en afbeeldingen */
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

aside {
    width: 35%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer */
footer {
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

/* Mobiele weergave via media query */
@media screen and (max-width: 768px) {
    article {
        flex-direction: column;
    }

    section, aside {
        width: 100%;
    }

    .header-left, .header-right {
        flex: 1;
    }

    .logo {
        width: 100px;
    }

    .hamb-line {
        display: block;
