body
{
    background-color: white;
    
}

li
{
    display: inline;
    margin-right: 10px;
}

li img
{
    margin-right: 20%;
    height: 50%;
    width: 20%;
}

nav
{
    position: fixed;
    height: 10%;
    border-radius: 10px;
}

.inhoud
{
    margin: 10px auto 10px auto;
    width: 80%;
}
